
/*Global*/
.content_Limitation{
    max-width: 1920px;
    width: 100%;
}

.books_inner_distance{
    margin-block: 64px;
}

/*Local*/
.section_header {
    display: flex;
    justify-content: center;
    background-color: var(--color-accent);
    margin-bottom: 80px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    padding-block: 16px;
    margin-inline: 120px;
}

.header_icon{
    height: 100px;
    border-radius: 40%;
}

main {
    
}

#books_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 64px;
    flex-wrap: wrap;
}

.book_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline: 64px;
    padding-block: 32px;
    max-height: 1200px;
    max-width: 750px;
    
    background-color: var(--color-background-tint-2);
    border-radius: 10%;
}

.book_section_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 32px;
    width: 100%;
    padding: 8px;

    border-top-right-radius: 16px;
    border-top-left-radius: 16px;

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;

    border-color: var(--color-accent);

    background-color: var(--color-secondary-accent);
}


.book_img{
    height: 400px;
    width: 400px;

    border-radius: 90px;
    object-fit: cover;
}

.book_section_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;

    background-color: var(--color-secondary-accent-shadow-1);
    border-style: solid;
    border-color: var(--color-accent-tint-2);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.book_info_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book_info_likes{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.info_data{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.liked_Icon{
    cursor: pointer;
    object-fit: cover;
}

.section_comment {
    height: auto;
    width: 100%;
    margin-top: 32px;
    padding: 8px;

    border-style: solid;
    border-radius: 16px;

    background-color: var(--color-secondary-accent-shadow-3);
}
.comment_wrapper{
    overflow-y: auto;
    max-height: 300px;
}

.comment_box{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.comment_data{
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
}

.comment_username{
    color: var(--color-accent-tint-2);
}

.input_field{
    height: 30px;
    font-size: 42px;
    font-family: "myrtille";
    background-color: var(--color-secondary-accent-shadow-1);
    border-radius: 8px;
    color: var(--color-main-text);
    padding: 8px;
    border-color: var(--color-accent-tint-3);
}

.comment_button{
    cursor: pointer;
    color: var(--color-main-text);
    background-color: var(--color-secondary-accent-shadow-1);
    border-color: var(--color-accent-tint-3);
    padding: 8px;

    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 64px;

    background-color: var(--color-accent);
}

@media(max-width:900px){

    body {
    background-color:#0F1A13;
    font-family: "myrtille";
    color: #E6E3D9;

    font-size: 32px;
    }

    h1 {
    font-size: 50px;
    }

    h2 {
    font-size: 40px;
    }

    header{
        margin-bottom: 32px;
        margin-inline: 64px;
    }

    .book_container {
        max-width: 450px;
        margin-block: 0px;
    }

    .section_comment {
    height: 300px;
    width: 100%;
    margin-top: 32px;
    }

    .comment_wrapper{
        max-height: 150px;
    }

    .info_data{
        width: 400px;
    }

    .section_comment{
        height: 250px;
    }

    .input_field{
        width: 250px;
    }


}

@media(max-width:570px){

    header {
        margin-inline: 16px;
    }

    .book_img{
        height: 300px;
        width: 300px;
    }

    .input_field{
        display: flex;
        flex: 1;
        width: 100px;
    }

    .book_container{
        max-width: 300px;
        padding-inline: 32px;
        padding-block: 24px;
    }

    .info_data{
        width: 300px;
    }


}

@media(max-width:400px){

    .book_container {
        max-width: 200px;
    }

    .book_img{
        height: 150px;
        width: 150px;
    }

    .input_field{
        display: flex;
        flex: 1;
        width: 60px;
    }

    .info_data{
        width: 200px;
    }


    body {
        font-size: 22px;
    }

    h1 {
        font-size: 34px;
        margin-bottom: 16px;
    }

    h2 {
        font-size: 30px;
    }

    .comment_data{
        gap: 8px;
    }

}